# python / jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.DS_Store
.idea
Thumbs.db

# venv
venv/
.venv/
env/
.conda/
env.yaml

# logs
*.log
logs/
experiments/

# data
data/Test
data/Training

# trained models
models/*.h5
models/*.ckpt
**/*.keras
**/*.h5

# LaTeX
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk

# *.pdf
